@font-face {
    font-family: 'Vonique';
    src: url('./fonts/Vonique64.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vonique';
    src: url('./fonts/Vonique64-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vonique';
    src: url('./fonts/Vonique64-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
    background: linear-gradient(black 40%, rgb(189, 69, 91) 40%) rgb(189, 69, 91) no-repeat;
    font-family: 'Vonique';
}

body > * {
    max-width: 100%;
}

h1, h3 {
    font-weight: bold;
}

h1 > img {
    height: 1em;
    padding: inherit;
}

a > img {
    margin: 3px;
}

strong {
    color: black;
}

.jumbotron {
    background-image: url('./images/workshop.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-clip: content-box;
    color: whitesmoke;
}

.box {
    background-color: rgb(184, 178, 178);
    height: fit-content;
    width: 600px;
}

.center {
    margin: auto;
}

.carousel {
    width: 300px;
}

.carousel-item > img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.navbar-brand {
    font-weight: bold;
}

.container > .row > div {
    background-color: rgb(184, 178, 178);
    margin: 8px;
}